body {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 7px;
  margin-right: 7px;
  font-family: Arial, sans-serif;
  color: rgb(88, 88, 88);
}
#main_heading {
  background: #000000;
  color: white;
  padding: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
  text-align: center;
}
#sub_heading {
  background: #007bff;
  color: white;
  padding: 12px;
}
nav {
  text-align: left;
}
nav a {
  color: rgb(58, 103, 238);
  text-decoration: none;
}
main {
  padding: 10px;
  text-align: justify;
  margin: auto;
  color: #272727;
}
p {
  padding: 10px;
  text-align: justify;
  margin: auto;
}
footer {
  color: rgb(0, 0, 0);
  text-align: right;
  bottom: 0;
  padding: 10px;
  font-size: 18px;
}
@media (max-width: 800px) {
  #main_heading {
    padding: 10px;
    color: orangered;
    font-size: 20px;
  }
  #sub_heading {
    padding: 5px;
    font-size: 18px;
  }
  body {
    margin: 0px;
    font-size: 12px;
  }
  p {
    text-align: center;
  }
}
@media (orientation: portrait) {
  #sub_heading {
    color: #000000;
  }
  footer {
    text-align: center;
  }
}
