/* Carousel Container */
.carousel {
  position: relative;
  width: 800px;
  height: 400px;
  overflow: hidden;
  margin: auto;
}

/* Slide Container */
.carousel-slides {
  display: flex;
  transition: transform 1s ease-in-out;
}

/* Individual Slide */
.slide {
  min-width: 100%;
  transition: opacity 1s ease-in-out;
}

/* Styling for Images */
img {
  width: 100%;
  height: auto;
  display: block;
}

/* Automatic Slideshow using keyframes */
@keyframes slide-animation {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(-200%);
  }
  75% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(0);
  }
}

/* Apply the animation */
.carousel-slides {
  animation: slide-animation 1s;
  animation-duration: 15s;
}

/* Navigation Button Styling */
.carousel-navigation {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.nav-button {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 50%;
  text-decoration: none;
  transition: background-color 1s;
  transition-duration: 0ms;
}

/*Hover Action*/
.nav-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
